.content_card {
    //border-bottom: 1px solid grey;
    margin-bottom: 1rem;
    border-right: 1px solid lightgray;

    .caption {
        text-align: left;
        padding: 0 1.5rem;

        @media screen and (min-width:762px) {
            padding: 0 3rem;
        }

        h2 {
            font-size: 24px;
            padding-top: 15px;
        }

        p,
        div {
            font-size: 16px;
        }

        h5 {
            overflow: hidden;
            //text-overflow: ellipsis;
           height: 45px;
    
            &+div {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                /* number of lines to show */
                line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }
    }



    // figure {
    //     max-width: 75%;
    //     margin: auto;
    //    // margin-bottom: 1rem;

    // }    

    @media screen and (min-width:768px) {
        figure {
            max-width: 100%;
        }
    }
}