.author{    
    h2{
        font-weight: 700;
        text-transform: capitalize;
    }
    em{
        opacity: 0.7;
        font-weight: 500;
    }
    .location{
        text-transform: uppercase;
    }
}

