.cardblock {
    background-size: cover;
    background-position: center;    

    .heading {
        padding-top: 1rem;       
    }

    .cardgroup{
        overflow: hidden;
        &[data-round-image="true"]{
            .content_card{                
                padding-top: 2rem;
                padding-bottom: 1.5rem;
            }
        }
    }
    @media screen and (min-width:768px) {
        .cardgroup{
            overflow: hidden;
            &[data-round-image="true"]{
                .content_card{                
                    padding: initial;   
                    figure{
                        padding: 1.5rem;
                    }                 
                }
            }
        }
    }
    
    

}