.footer{
    //background-color: #000;
    color:#fff;
    .logo{       
        display: inline-block;
        img{
            width: initial;
        }
    }
    .textsmall{
        font-size: 0.85rem;
    }
}